; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2019 Reflective Computing.  All Rights Reserved.
; This file was created by TEMPO and should not be edited directly by the user.
; The commands in this file are undocumented and subject to change in future releases.
; Tue Jan 22 14:58:22 2019
; CLOAD CMD_TSK.pcf

; tempow 16.10 Set 49.20   'ADMINf813724' connected to 'TEMPO1'
; KPED 17.1 Set 49
; KSRV 16.8 Set 49.20 (Server 'TEMPO1          ' running on computer '')
; PCL 0.0     TEMPO 0.0
; ANALOGRESOLUTION=16
; WARNING=2
; SPEED=1000.000000  PROSPEED=1000.000000  (100/100000 Sec/SampleSet)
; ASETS=1(1)  CSETS=1(1)  ESETS=1(1)
; ACHANNELS=8
; CCHANNELS=0
; ECHANNELS=2
;
;                          Protocol Usage of Kernel Resources
;
; Parameter       Limit          Used    Pct        Bytes/Total        Develop    Stable
; -------------   -------     -------  -----        -----------        -------    ------
; PROCESSES       =300             22     7%          968/13200         =31        =23
; INSTRUCTIONS    =1820           480    26%         8624/32760         =600       =505
; InstructionsXMS =20025          480     2%         8624/360448        =600       =505
; SYMBOLTABLE     =4000           469    12%         3752/32000         =552       =494
; NametableXMS    =208896      173794    83%       173794/208896
; NAMETABLE       =40894         5792    14%         5792/40894         =6814      =6097
; DATABASES       =16               0     0%            0/960           =0         =0
; ARRAYTABLE      =30000          130     0%          130/30000         =163       =134
; ARRAYDATA       =30000128      4548     0%         4548/30000128      =5685      =4689
; OBJECTS         =0                0     0%            0/0             =0         =0
;
; PROTOCOL PROCESS CONTROL BLOCKS (XMS Instructions Caching ENABLED)
; INSTRUCTIONS=1820,20024
; Memory (bytes):  8624/32760 Conventional, 8624/360448 XMS
; Server CPU Mhz  Empirical 3391.6    Theoretical 3400.0
;
;    STATE PROCESS  Longest  0.000ms   PC INST  MAX LONG     MS  MaxMS LongMS Bytes  Conventional        XMS      Loaded  uSec
;   1 SUSP SET_DEFAULT_STIM_VARS        0    0    0    0  0.000  0.000  0.000   294    notLoaded         2-295         0     0
;   2 SUSP SET_SCRN                     0    0    0    0  0.000  0.000  0.000   276    notLoaded       296-571         0     0
;   3 SUSP SET_CLR_PALETTE              0    0    0    0  0.000  0.000  0.000   250    notLoaded       572-821         0     0
;   4 SUSP SET_CLR                      0    0    0    0  0.000  0.000  0.000    56    notLoaded       822-877         0     0
;   5 SUSP WAIT_MU                      0    0    0    0  0.000  0.000  0.000   100    notLoaded       878-977         0     0
;   6 SUSP SEND_EVT                     0    0    0    0  0.000  0.000  0.000    46    notLoaded       978-1023        0     0
;   7 SUSP QUE_TTL                      0    0    0    0  0.000  0.000  0.000   150    notLoaded      1024-1173        0     0
;   8 SUSP SEND_TTL                     0    0    0    0  0.000  0.000  0.000   144    notLoaded      1174-1317        0     0
;   9 SUSP RIG_029                      0    0    0    0  0.000  0.000  0.000   270    notLoaded      1318-1587        0     0
;  10 SUSP SET_RIG                      0    0    0    0  0.000  0.000  0.000    54    notLoaded      1588-1641        0     0
;  11 SUSP AUTO                         0    0    0    0  0.000  0.000  0.000    86    notLoaded      1642-1727        0     0
;  12 SUSP JOULE                        0    0    0    0  0.000  0.000  0.000   476    notLoaded      1728-2203        0     0
;  13 SUSP SET_MONK                     0    0    0    0  0.000  0.000  0.000    92    notLoaded      2204-2295        0     0
;  14 SUSP DRW_RECT                     0    0    0    0  0.000  0.000  0.000   426    notLoaded      2296-2721        0     0
;  15 SUSP CMD_PGS                      0    0    0    0  0.000  0.000  0.000  1612    notLoaded      2722-4333        0     0
;  16 SUSP WTCH_EYE                     0    0    0    0  0.000  0.000  0.000   854    notLoaded      4334-5187        0     0
;  17 SUSP LOCATE_EYE                   0    0    0    0  0.000  0.000  0.000  1312    notLoaded      5188-6499        0     0
;  18 SUSP WRITE_EYE2FILE               0    0    0    0  0.000  0.000  0.000   244    notLoaded      6500-6743        0     0
;  19 SUSP WTCH_SCHMITT                 0    0    0    0  0.000  0.000  0.000   330    notLoaded      6744-7073        0     0
;  20 SUSP BITSWEEP                     0    0    0    0  0.000  0.000  0.000   204    notLoaded      7074-7277        0     0
;  21 RUN  IDLE                         0    0    0    0  0.000  0.000  0.000   334    notLoaded      7278-7611        0     0
;  22 SUSP SETC_TRL                     0    0    0    0  0.000  0.000  0.000  1012    notLoaded      7612-8623        0     0


SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=8


ACHANINFO 0


; EVENT TABLE SETTINGS
;; ECHANNELS=2


ECHANINFO 0


PLOAD CMD_TSK.PRO

; DATABASES=16


; WINDOW CONFIGURATION

SCREENRES 1280,768,32,1,0,0
MAINWND 1,-1,-1,-1,-1,23,-2,983,539,0
MSGWND 1,-1,-1,-1,-1,770,30,1250,480,0
STATUSWND 1,-1,-1,-1,-1,0,67,668,510,0
SHOW s 0

; DATABASES PAGES & VIEWS

DBPCOLORS 0x0,0x0,0x0,0x0,0x0

; END GRAPH CONFIGURATION

DLOAD C:/tempo/ProcLib/CMD_TSK.dcf
;DSHOW CMD_Task_Menu

; BEGIN KEY DEFINITIONS

KEY ALTE = EYE_ON_VDOSYNC = 1
KEY ALTX = EYE_ON_VDOSYNC = 0
KEY ALTC = CENTER_EYE_NOW = 1

; END KEY DEFINITIONS
