; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2019 Reflective Computing.  All Rights Reserved.
; This file was created by TEMPO and should not be edited directly by the user.
; The commands in this file are undocumented and subject to change in future releases.
; Wed Jan 30 21:47:49 2019
; CLOAD cmd_tsk.pcf

; tempow 16.10 Set 49.20   'ADMINf812102' connected to 'TEMPO1'
; KPED 17.1 Set 49
; KSRV 16.8 Set 49.20 (Server 'TEMPO1          ' running on computer '')
; PCL 0.0     TEMPO 0.0
; ANALOGRESOLUTION=16
; WARNING=2
; SPEED=1000.000000  PROSPEED=1000.000000  (100/100000 Sec/SampleSet)
; ASETS=1(1)  CSETS=1(1)  ESETS=1(1)
; ACHANNELS=8
; CCHANNELS=0
; ECHANNELS=2
;
;                          Protocol Usage of Kernel Resources  
;
; Parameter       Limit          Used    Pct        Bytes/Total        Develop    Stable
; -------------   -------     -------  -----        -----------        -------    ------
; PROCESSES       =300             36    12%         1584/13200         =51        =38      
; INSTRUCTIONS    =1820           703    39%        12640/32760         =879       =740     
; InstructionsXMS =20025          703     4%        12640/360448        =879       =740     
; SYMBOLTABLE     =4000           568    14%         4544/32000         =668       =598     
; NametableXMS    =208896      175598    84%       175598/208896                        
; NAMETABLE       =40894         7596    19%         7596/40894         =8936      =7996    
; DATABASES       =16               0     0%            0/960           =0         =0       
; ARRAYTABLE      =30000          146     0%          146/30000         =183       =151     
; ARRAYDATA       =30000128      4440     0%         4440/30000128      =5550      =4577    
; OBJECTS         =257             79    31%         3476/11308         =88        =81      
;
; PROTOCOL PROCESS CONTROL BLOCKS (XMS Instructions Caching ENABLED)
; INSTRUCTIONS=1820,20024
; Memory (bytes):  12640/32760 Conventional, 12640/360448 XMS
; Server CPU Mhz  Empirical 3391.6    Theoretical 3400.0
;
;    STATE PROCESS  Longest  0.000ms   PC INST  MAX LONG     MS  MaxMS LongMS Bytes  Conventional        XMS      Loaded  uSec 
;   1 SUSP SET_DEFAULT_STIM_VARS        0    0    0    0  0.000  0.000  0.000   174    notLoaded         2-175         0     0
;   2 SUSP SET_CLRS                     0    0    0    0  0.000  0.000  0.000   520    notLoaded       176-695         0     0
;   3 SUSP SET_CLR                      0    0    0    0  0.000  0.000  0.000    56    notLoaded       696-751         0     0
;   4 SUSP GRAPHS                       0    0    0    0  0.000  0.000  0.000   440    notLoaded       752-1191        0     0
;   5 SUSP GRAF_UPD8_EYE                0    0    0    0  0.000  0.000  0.000    70    notLoaded      1192-1261        0     0
;   6 SUSP GRAF_UPD8_FIX                0    0    0    0  0.000  0.000  0.000   212    notLoaded      1262-1473        0     0
;   7 SUSP GRAF_UPD8_TARG               0    0    0    0  0.000  0.000  0.000   696    notLoaded      1474-2169        0     0
;   8 SUSP GRAF_HIDE_FIX_TARG           0    0    0    0  0.000  0.000  0.000    32    notLoaded      2170-2201        0     0
;   9 SUSP GRAF_SHOW_FIX_TARG           0    0    0    0  0.000  0.000  0.000    32    notLoaded      2202-2233        0     0
;  10 SUSP GRAF_SHOW_FIX_WIN            0    0    0    0  0.000  0.000  0.000    20    notLoaded      2234-2253        0     0
;  11 SUSP GRAF_SHOW_FIX                0    0    0    0  0.000  0.000  0.000    96    notLoaded      2254-2349        0     0
;  12 SUSP GRAF_SHOW_TARG               0    0    0    0  0.000  0.000  0.000    96    notLoaded      2350-2445        0     0
;  13 SUSP DRW_RECT                     0    0    0    0  0.000  0.000  0.000   426    notLoaded      2446-2871        0     0
;  14 SUSP CMD_PGS                      0    0    0    0  0.000  0.000  0.000  1498    notLoaded      2872-4369        0     0
;  15 SUSP SET_SCRN                     0    0    0    0  0.000  0.000  0.000   276    notLoaded      4370-4645        0     0
;  16 SUSP RIG_029                      0    0    0    0  0.000  0.000  0.000   270    notLoaded      4646-4915        0     0
;  17 SUSP SET_RIG                      0    0    0    0  0.000  0.000  0.000    66    notLoaded      4916-4981        0     0
;  18 SUSP AUTO_EYE                     0    0    0    0  0.000  0.000  0.000   490    notLoaded      4982-5471        0     0
;  19 SUSP AUTO_EYE_GET_READY           0    0    0    0  0.000  0.000  0.000   196    notLoaded      5472-5667        0     0
;  20 SUSP AUTO_EYE_FIX_ON              0    0    0    0  0.000  0.000  0.000   140    notLoaded      5668-5807        0     0
;  21 SUSP AUTO                         0    0    0    0  0.000  0.000  0.000   132    notLoaded      5808-5939        0     0
;  22 SUSP JOULE                        0    0    0    0  0.000  0.000  0.000   452    notLoaded      5940-6391        0     0
;  23 SUSP SET_MONK                     0    0    0    0  0.000  0.000  0.000    92    notLoaded      6392-6483        0     0
;  24 SUSP WAIT_MU                      0    0    0    0  0.000  0.000  0.000   100    notLoaded      6484-6583        0     0
;  25 SUSP SEND_EVT                     0    0    0    0  0.000  0.000  0.000    46    notLoaded      6584-6629        0     0
;  26 SUSP QUE_TTL                      0    0    0    0  0.000  0.000  0.000   150    notLoaded      6630-6779        0     0
;  27 SUSP SEND_TTL                     0    0    0    0  0.000  0.000  0.000   144    notLoaded      6780-6923        0     0
;  28 SUSP WTCH_EYE                     0    0    0    0  0.000  0.000  0.000   722    notLoaded      6924-7645        0     0
;  29 SUSP LOCATE_EYE                   0    0    0    0  0.000  0.000  0.000  1318    notLoaded      7646-8963        0     0
;  30 SUSP COMPUTE_EYE_POS              0    0    0    0  0.000  0.000  0.000   670    notLoaded      8964-9633        0     0
;  31 SUSP WTCH_SCHMITT                 0    0    0    0  0.000  0.000  0.000   382    notLoaded      9634-10015       0     0
;  32 SUSP SET_CMD_TRL                  0    0    0    0  0.000  0.000  0.000   264    notLoaded     10016-10279       0     0
;  33 SUSP PCK_TRL_TYP                  0    0    0    0  0.000  0.000  0.000   132    notLoaded     10280-10411       0     0
;  34 SUSP SET_WINS                     0    0    0    0  0.000  0.000  0.000   992    notLoaded     10412-11403       0     0
;  35 SUSP SET_CURR_STAT                0    0    0    0  0.000  0.000  0.000    50    notLoaded     11404-11453       0     0
;  36 RUN  IDLE                         0    0    0    0  0.000  0.000  0.000  1186    notLoaded     11454-12639       0     0


SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=8


ACHANINFO 0


; EVENT TABLE SETTINGS
;; ECHANNELS=2


ECHANINFO 0


PLOAD CMD_TSK.PRO

; DATABASES=16


; WINDOW CONFIGURATION

SCREENRES 1280,768,32,1,0,0
MAINWND 1,0,0,-1,-1,1,0,555,52,0
MSGWND 1,160,729,-1,-1,0,53,405,675,0
STATUSWND 1,0,0,-1,-1,407,290,1257,734,0
SHOW s 0

CMDWND 1,160,729,-1,-1,0,675,405,732,0
ANIMPAGE 0x1,1,0,729,-1,-1,421,5,1271,317,0
ANIMVIEW 0,1,0,0,0,0,425,35,846,313,0
ANIMVIEW 1,1,0,0,0,0,846,35,1267,313,1

; DATABASES PAGES & VIEWS

DBPCOLORS 0x0,0x0,0x0,0x0,0x0

; END GRAPH CONFIGURATION

DLOAD C:\\tempo\\ProcLib\\CMD_TSK.dcf
DSHOW CMD_Task_Menu

; BEGIN KEY DEFINITIONS

KEY ALTE = EYE_ON_VDOSYNC = 1
KEY ALTX = EYE_ON_VDOSYNC = 0
KEY ALTC = CENTER_EYE_NOW = 1

; END KEY DEFINITIONS

