; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2005 Reflective Computing.  All Rights Reserved.
; This file was created by TEMPO and should not be edited directly by the user.
; The commands in this file are undocumented and subject to change in future releases.
; Mon Sep 26 19:06:57 2005
; CLOAD test2.pcf

; tempow 10.35 Set 37.12   'HORIZON1018' connected to 'tYELLOWudp'
; KPED 10.29 Set 37
; KSRV 11.2 Set 37.12 (Server 'tYELLOWudp      ' running on computer '')
; PCL 0.0     TEMPO 0.0
; ANALOGRESOLUTION=12
; WARNING=2
; SPEED=1000.000000  PROSPEED=1000.000000  (100/100000 Sec/SampleSet)
; ASETS=1(1)  CSETS=1(1)  ESETS=1(1)
; ACHANNELS=16
; CCHANNELS=5
; ECHANNELS=5
;
;                          Protocol Usage of Kernel Resources  
;
; Parameter       Limit          Used    Pct        Bytes/Total        Develop    Stable
; -------------   -------     -------  -----        -----------        -------    ------
; PROCESSES       =20               7    35%          168/480           =10        =7       
; INSTRUCTIONS    =256            105    41%         1876/4608          =131       =111     
; SYMBOLTABLE     =256            121    47%         1452/3072          =142       =127     
; HASHTABLE       =     127,256          66%         1776/2298        Use Kernel Default
; NAMETABLE       =2000          1021    51%         1021/2000          =1201      =1075    
; DATABASES       =40               0     0%            0/2400          =0         =0       
; ARRAYTABLE      =100             46    46%           46/100           =58        =47      
; ARRAYDATA       =131072        1696     1%         1696/131072        =2120      =1748    
; OBJECTS         =0                0     0%            0/0             =0         =0       

SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=16

; SPIKE TABLE SETTINGS
;; CCHANNELS=5

; EVENT TABLE SETTINGS
;; ECHANNELS=5

PLOAD pan.pro

; DATABASES=40


; WINDOW CONFIGURATION

SCREENRES 1920,1200,16
MAINWND 1,-1,-1,-1,-1,5,20,866,171,0
MSGWND 1,-1,-1,-1,-1,7,78,855,634,0
STATUSWND 1,-1,-1,-1,-1,4,635,860,1173,0
SHOW v 0

CMDWND 1,-1,-1,-1,-1,513,75,868,137,0

; DATABASES PAGES & VIEWS

DBPCOLORS 0x0,0x0,0x0,0x0,0x0

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1920,1200,16

; END OF DIALOGS

